.container__big-card {

  margin-left: 20px;
  margin-right: 20px;

  width: 400px;
  /*height: 600px; */

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__title {
  margin-top: 15px;
  font-size: 12px;
}

.big-card__descripition{
  margin-top: 10px;
}

.big-card__descripition > p > a {
  color: grey;
}

.big-card__photo > img {
  width: 100%;
  height: 265px; /* controle da imagem */
  object-fit: cover;
  min-width: 400px;
}
