.content__menu-title{
  color: white;
}

.content__menu-title > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.content__menu-title > hr {
  margin-top: 5px;
  margin-bottom: 5px;

}
