.container__content{
  border: solid white 1px;
  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.content__cover > img{
  border:  solid rgb(144,144,144) 5px;
  width: 500px;
  border-radius: 5px;
  min-width: 500px;
  height: 300PX;
}

.content__description{
  margin-top: 15px;
}

.content__description > p{
  margin-top: 20px;
  color: rgb(198, 197, 197)

}
